<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722954405171-6arpr1gpv2adionktjeror7b4gfo5kh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722954405171-6arpr1gpv2adionktjeror7b4gfo5kh5</string>
	<key>API_KEY</key>
	<string>AIzaSyBLtcKjP3MPjaDAm3WEbF-tafsimv56RBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>722954405171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cameraGallery</string>
	<key>PROJECT_ID</key>
	<string>smart-gallery-2af21</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-gallery-2af21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722954405171:ios:80871a51a440d190806a46</string>
</dict>
</plist>